# Table on Content
1. Importing Libraries & datasets
2. Merge listings short and long
3. Merge listings & calendar
4. Wrangling
  4.1 Drop Columns
  4.2 Mixed Data types
5. Consistency Checks
  5.1 Missing Values
  5.2 Duplicates
6. Export final dataset

# 1. Importing Libraries & datasets

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
# Create path
path = r'/Users/Dulce/Dec2024 - Airbnb Berlin'

In [4]:
# Import 'listing long_clean'
listing_long_clean = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'listing_long_clean.pkl'))

In [5]:
# Import 'listing short_clean'
listing_short_clean = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'listing_short_clean.pkl'))

In [6]:
# Import 'calendar_clean'
calendar_clean = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'calendar_clean.pkl')).astype({'date': 'datetime64[ns]'})

In [7]:
# Import 'demographics'
demographics = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', 'demographics.xlsx'))

# 2. Merge listings short and long

In [8]:
listings = pd.merge(listing_short_clean, listing_long_clean, on='id', how='left')
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10326 entries, 0 to 10325
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10326 non-null  object
 1   name                            10326 non-null  object
 2   host_id                         10326 non-null  object
 3   host_name                       10326 non-null  object
 4   neighbourhood_group             10326 non-null  object
 5   neighbourhood                   10326 non-null  object
 6   latitude                        10326 non-null  object
 7   longitude                       10326 non-null  object
 8   room_type                       10326 non-null  object
 9   price                           10326 non-null  float64
 10  minimum_nights                  10326 non-null  int64
 11  number_of_reviews               10326 non-null  int64
 12  last_review                     10326 non-null  object
 13  reviews_per_month               10326 non-null  float64
 14  calculated_host_listings_count  10326 non-null  int64
 15  availability_365                10326 non-null  int64
 16  license                         10326 non-null  object
 17  host_response_time              7738 non-null   object
 18  host_response_rate              7738 non-null   object
 19  host_is_superhost               7738 non-null   object
 20  property_type                   7738 non-null   object
 21  accommodates                    7738 non-null   float64
 22  maximum_nights                  7738 non-null   float64
 23  first_review                    7738 non-null   object
 24  review_scores_rating            7738 non-null   float64
 25  review_scores_accuracy          7738 non-null   float64
 26  review_scores_cleanliness       7738 non-null   float64
 27  review_scores_checkin           7738 non-null   float64
 28  review_scores_communication     7738 non-null   float64
 29  review_scores_location          7738 non-null   float64
 30  review_scores_value             7738 non-null   float64
 31  instant_bookable                7738 non-null   object
dtypes: float64(11), int64(4), object(17)
memory usage: 2.5+ MB

# 3. Merge listings & calendar

In [9]:
listings_calendar = pd.merge(calendar_clean, listings, on='id', how='left')
listings_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63194 entries, 0 to 63193
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              63194 non-null  object
 1   date                            63194 non-null  datetime64[ns]
 2   month                           63194 non-null  object
 3   available                       63194 non-null  object
 4   season                          63194 non-null  object
 5   name                            60730 non-null  object
 6   host_id                         60730 non-null  object
 7   host_name                       60730 non-null  object
 8   neighbourhood_group             60730 non-null  object
 9   neighbourhood                   60730 non-null  object
 10  latitude                        60730 non-null  object
 11  longitude                       60730 non-null  object
 12  room_type                       60730 non-null  object
 13  price                           60730 non-null  float64
 14  minimum_nights                  60730 non-null  float64
 15  number_of_reviews               60730 non-null  float64
 16  last_review                     60730 non-null  object
 17  reviews_per_month               60730 non-null  float64
 18  calculated_host_listings_count  60730 non-null  float64
 19  availability_365                60730 non-null  float64
 20  license                         60730 non-null  object
 21  host_response_time              60730 non-null  object
 22  host_response_rate              60730 non-null  object
 23  host_is_superhost               60730 non-null  object
 24  property_type                   60730 non-null  object
 25  accommodates                    60730 non-null  float64
 26  maximum_nights                  60730 non-null  float64
 27  first_review                    60730 non-null  object
 28  review_scores_rating            60730 non-null  float64
 29  review_scores_accuracy          60730 non-null  float64
 30  review_scores_cleanliness       60730 non-null  float64
 31  review_scores_checkin           60730 non-null  float64
 32  review_scores_communication     60730 non-null  float64
 33  review_scores_location          60730 non-null  float64
 34  review_scores_value             60730 non-null  float64
 35  instant_bookable                60730 non-null  object
dtypes: datetime64[ns](1), float64(15), object(20)
memory usage: 17.4+ MB

In [10]:
# Count listings per neighbourhood_group
listing_counts = listings_calendar.reset_index().groupby('neighbourhood_group')['id'].count().reset_index()
listing_counts.columns = ['neighbourhood_group', 'listing_counts']
listing_counts

         neighbourhood_group  listing_counts
0       Charlottenburg-Wilm.            5632
1   Friedrichshain-Kreuzberg           13915
2                Lichtenberg             352
3      Marzahn - Hellersdorf             352
4                      Mitte           13728
5                  Neukoelln            3872
6                     Pankow           14080
7                    Spandau             352
8      Steglitz - Zehlendorf            1408
9    Tempelhof - Schoeneberg            5631
10       Treptow - Koepenick            1408

# 4. Merge listings_calendar & Demographics

In [11]:
demographics.shape

(11, 3)

In [12]:
demographics.head()

        neighbourhood_group  Population  Deficit housing
0                     Mitte      385748           -19725
1      Charlottenburg-Wilm.      343592           -21015
2  Friedrichshain-Kreuzberg      290386           -17675
3               Lichtenberg      294201             -167
4     Marzahn - Hellersdorf      269967             2805

In [13]:
listings_calendar_demogr = pd.merge(listings_calendar, demographics, on='neighbourhood_group', how='right')
listings_calendar_demogr.head()

,id,date,month,available,season,name,host_id,host_name,neighbourhood_group,neighbourhood,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,Population,Deficit housing
0,22438,2024-01-01,January,f,Winter,Rental unit in Berlin ¬∑ ‚òÖ4.70 ¬∑ 2 bedrooms...,86159,Javier,Mitte,Brunnenstr. Sued,...,4.7,4.76,4.7,4.82,4.73,4.63,4.68,f,385748,-19725
1,22438,2024-02-01,January,t,Winter,Rental unit in Berlin ¬∑ ‚òÖ4.70 ¬∑ 2 bedrooms...,86159,Javier,Mitte,Brunnenstr. Sued,...,4.7,4.76,4.7,4.82,4.73,4.63,4.68,f,385748,-19725
2,22438,2024-03-01,January,t,Winter,Rental unit in Berlin ¬∑ ‚òÖ4.70 ¬∑ 2 bedrooms...,86159,Javier,Mitte,Brunnenstr. Sued,...,4.7,4.76,4.7,4.82,4.73,4.63,4.68,f,385748,-19725
3,22438,2024-04-01,January,t,Winter,Rental unit in Berlin ¬∑ ‚òÖ4.70 ¬∑ 2 bedrooms...,86159,Javier,Mitte,Brunnenstr. Sued,...,4.7,4.76,4.7,4.82,4.73,4.63,4.68,f,385748,-19725
4,22438,2024-05-01,January,t,Winter,Rental unit in Berlin ¬∑ ‚òÖ4.70 ¬∑ 2 bedrooms...,86159,Javier,Mitte,Brunnenstr. Sued,...,4.7,4.76,4.7,4.82,4.73,4.63,4.68,f,385748,-19725

# 4. Data Wrangling

## 4.1 Dropping Columns

In [14]:
# Delete unnecessary columns to reduce volume
columns_to_drop = ['reviews_per_month', ]
listings_calendar_demogr = listings_calendar_demogr.drop(columns=columns_to_drop)
listings_calendar_demogr.shape

(60730, 37)

## 4.2 Mixed Data Type

In [15]:
for col in listings_calendar_demogr.columns.tolist():
  weird = (listings_calendar_demogr[[col]].map(type) != listings_calendar_demogr[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (listings_calendar_demogr[weird]) > 0:
    print (col)

In [16]:
# Convert mixed type into string
columns_to_convert = ['name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'last_review', 'license', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'property_type', 'first_review', 'instant_bookable']
listings_calendar_demogr[columns_to_convert] = listings_calendar_demogr[columns_to_convert].astype(str)

# 5. Consistency Checks

## 5.1 Missing Values

In [17]:
listings_calendar_demogr.isnull().sum()

id                                0
date                              0
month                             0
available                         0
season                            0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
calculated_host_listings_count    0
availability_365                  0
license                           0
host_response_time                0
host_response_rate                0
host_is_superhost                 0
property_type                     0
accommodates                      0
maximum_nights                    0
first_review                      0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
instant_bookable                  0
Population                        0
Deficit housing                   0
dtype: int64

In [18]:
listings_calendar_demogr.dropna(subset = ['minimum_nights', 'price', 'number_of_reviews', 'calculated_host_listings_count', 'availability_365', 'maximum_nights', 'accommodates', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value'], inplace = True)

In [19]:
listings_calendar_demogr.shape

(60730, 37)

## 5.2 Duplicates

In [20]:
listings_calendar_demogr_dups = listings_calendar_demogr[listings_calendar_demogr.duplicated()]
listings_calendar_demogr_dups

Empty DataFrame
Columns: [id, date, month, available, season, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, calculated_host_listings_count, availability_365, license, host_response_time, host_response_rate, host_is_superhost, property_type, accommodates, maximum_nights, first_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, instant_bookable, Population, Deficit housing]
Index: []

[0 rows x 37 columns]

In [21]:
listings_calendar_demogr.columns

Index(['id', 'date', 'month', 'available', 'season', 'name', 'host_id',
       'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'calculated_host_listings_count',
       'availability_365', 'license', 'host_response_time',
       'host_response_rate', 'host_is_superhost', 'property_type',
       'accommodates', 'maximum_nights', 'first_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'Population',
       'Deficit housing'],
      dtype='object')

In [22]:
listings_calendar_demogr.shape

(60730, 37)

# 6. Export final dataset

In [23]:
listings_calendar_demogr.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'Final_df.pkl'))

In [24]:
listings_calendar_demogr.to_excel(os.path.join(path, '02 Data','Prepared Data', 'Final_df.xlsx'))