# Table on Content
    1. Importing Libraries & dataset 'calendar'
    2. Dataset Exploration
    3. Data Wrangling
      3.1 Dropping Columns
      3.2 Mixed Data Types
      3.3 Change Data Types
    4. Consistency Checks: Duplicates and Missing Values
      4.1 Missing Values 
      4.2 Duplicates       
    5. Deriving New Variables: Season segmentation
    6. Export final dataset

# 1. Importing Libraries & dataset 'calendar'

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path
path = r'/Users/Dulce/Dec2024 - Airbnb Berlin'

In [3]:
# Import 'calendar'
calendar = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'calendar.csv'), sep=";", parse_dates=['date'])

/var/folders/bq/9pw947f52fdd4s0pghmqxh580000gn/T/ipykernel_2324/2966802610.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  calendar = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'calendar.csv'), sep=";", parse_dates=['date'])

In [4]:
calendar.reset_index(drop=True, inplace=True)
calendar.index = range(1, len(calendar) + 1)

# 2. Dataset Exploration

In [5]:
calendar.shape

(63194, 5)

In [6]:
calendar.head()

     id       date    month available  adjusted_price
1  3176 2024-01-01  January         f             NaN
2  3176 2024-02-01  January         f             NaN
3  3176 2024-03-01  January         f             NaN
4  3176 2024-04-01  January         f             NaN
5  3176 2024-05-01  January         f             NaN

In [7]:
calendar.tail()

           id       date month available  adjusted_price
63190  363454 2024-01-07  July         t             NaN
63191  363454 2024-02-07  July         t             NaN
63192  363454 2024-03-07  July         t             NaN
63193  363454 2024-04-07  July         t             NaN
63194  363454 2024-05-07  July         t             NaN

In [8]:
calendar.columns

Index(['id', 'date', 'month', 'available', 'adjusted_price'], dtype='object')

In [9]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63194 entries, 1 to 63194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              63194 non-null  int64
 1   date            63194 non-null  datetime64[ns]
 2   month           63194 non-null  object
 3   available       63194 non-null  object
 4   adjusted_price  0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.4+ MB

In [10]:
calendar.describe()

                  id                           date  adjusted_price
count   63194.000000                          63194             0.0
mean   196767.419090  2024-06-24 08:16:16.649681920             NaN
min      3176.000000            2024-01-01 00:00:00             NaN
25%    127708.000000            2024-03-28 00:00:00             NaN
50%    214518.000000            2024-06-24 00:00:00             NaN
75%    257373.000000            2024-09-20 00:00:00             NaN
max    363454.000000            2024-12-17 00:00:00             NaN
std     97941.424702                            NaN             NaN

No potential outliers found.

# 3. Data Wrangling

## 3.1 Dropping Columns

In [11]:
# Delete unnecessary columns to reduce volume
columns_to_drop = ['adjusted_price']
calendar = calendar.drop(columns=columns_to_drop)
calendar.shape

(63194, 4)

## 3.2 Mixed Data Type

In [12]:
for col in calendar.columns.tolist():
  weird = (calendar[[col]].map(type) != calendar[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (calendar[weird]) > 0:
    print (col)

No mixed data type found.

## 3.3 Data Type changes

In [13]:
# Change id data type to string
calendar['id'] = calendar['id'].astype('str')
calendar['id'].dtype

dtype('O')

# 4. Consistency Checks: Duplicates and Missing Values

## 4.1 Missing Values

In [14]:
calendar.isnull().sum()

id           0
date         0
month        0
available    0
dtype: int64

No missing values found.

## 4.2 Duplicates

In [15]:
calendar_dups = calendar[calendar.duplicated()]
calendar_dups

Empty DataFrame
Columns: [id, date, month, available]
Index: []

# 5. Deriving New Variables: Season segmentation

In [16]:
# Create Lists for Seasons
Winter = ['December', 'January', 'February']
Autumm = ['September', 'October', 'November']
Spring = ['March', 'April', 'May']
Summer = ['June', 'July', 'August']

In [17]:
# Derive new variable "Season" and placing lists
calendar.loc[calendar['month'].isin(Winter), 'season'] = 'Winter'
calendar.loc[calendar['month'].isin(Autumm), 'season'] = 'Autumm'
calendar.loc[calendar['month'].isin(Spring), 'season'] = 'Spring'
calendar.loc[calendar['month'].isin(Summer), 'season'] = 'Summer'

# 6. Export final dataset

In [18]:
calendar.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'calendar_clean.pkl'))

In [19]:
calendar.to_excel(os.path.join(path, '02 Data','Prepared Data', 'calendar_clean.xlsx'))