# Table on Content
    1. Importing Libraries & dataset 'reviews'
    2. Dataset Exploration
    3. Data Wrangling
      3.1 Mixed Data Types
      3.2 Change Data Types
    4. Consistency Checks: Duplicates and Missing Values
    5. Deriving New Variables: Season segmentation
    6. Merging datasets
    7. Export final dataset

# 1. Importing Libraries & dataset 'reviews'

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path
path = r'/Users/Dulce/Dec2024 - Airbnb Berlin'

In [3]:
# Import 'reviews'
reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews.csv'), sep=";", low_memory=False, parse_dates=['date'])

/var/folders/bq/9pw947f52fdd4s0pghmqxh580000gn/T/ipykernel_2759/2966869328.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews.csv'), sep=";", low_memory=False, parse_dates=['date'])

In [4]:
reviews.reset_index(drop=True, inplace=True)
reviews.index = range(1, len(reviews) + 1)

# 2. Dataset Exploration

In [5]:
reviews.shape

(214809, 6)

In [6]:
reviews.head()

,id,review_id,date,reviewer_id,reviewer_name,comments
1,265354,"5,36E+17",2022-09-01,160241545,Oscar,"El bar, la atenci√≥n y todo estuvo muy bueno"
2,265354,"5,36E+17",2022-09-01,182609068,Cristoffer,Buena atenci√≥n y comodidad.
3,265354,"5,40E+17",2022-01-15,9427410,Alejandro,We rent kind of mini apartment. It was great. ...
4,265354,"5,46E+17",2022-01-23,348472408,Andr√©a,super s√©jour dans cette auberge atypique asse...
5,265354,"5,66E+17",2022-02-19,312892160,Lander,Somos un grupo de 4 amigos los que hemos venid...

In [7]:
reviews.tail()

,id,review_id,date,reviewer_id,reviewer_name,comments
214805,"1,04E+18","1,04E+18",2023-09-12,6293103,Emily,"Peaceful, clean and spacious apartment. Well e..."
214806,"1,03E+18","1,04E+18",2023-12-12,472171733,Carlos,We‚Äôre grateful to the guys for letting us st...
214807,"1,03E+18","1,03E+18",2023-11-28,409488996,Michelle,Die Unterkunft war leider sehr dreckig und hat...
214808,"1,03E+18","1,04E+18",2023-03-12,446380798,Benedict,"A well located place in Berlin, with decent tr..."
214809,"1,03E+18","1,04E+18",2023-11-12,227758970,Jo,"Rene hat einen supersch√∂nen Ort geschaffen, d..."

In [8]:
reviews.columns

Index(['id', 'review_id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214809 entries, 1 to 214809
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             214809 non-null  object
 1   review_id      214809 non-null  object
 2   date           214809 non-null  datetime64[ns]
 3   reviewer_id    214809 non-null  int64
 4   reviewer_name  214809 non-null  object
 5   comments       214778 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.8+ MB

## 3. Data Wrangling

### 3.1 Mixed Data Type

In [10]:
for col in reviews.columns.tolist():
  weird = (reviews[[col]].map(type) != reviews[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (reviews[weird]) > 0:
    print (col)

comments

In [11]:
# Change comments data type to string
reviews['comments'] = reviews['comments'].astype('str')
reviews['comments'].dtype

dtype('O')

### 3.2 Change Data Types

In [12]:
# Change reviewer_id data type to string
reviews['reviewer_id'] = reviews['reviewer_id'].astype('str')
reviews['reviewer_id'].dtype

dtype('O')

# 4. Consistency Checks: Duplicates and Missing Values

## 4.1 Missing Values

In [13]:
reviews.isnull().sum()

id               0
review_id        0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

No missing values found.

## 4.2 Duplicates

In [14]:
# Checking duplicate values
reviews_dups = reviews[reviews.duplicated()]
reviews_dups.shape

(5, 6)

In [15]:
# Dropping duplicates
reviews_no_dups = reviews.drop_duplicates()
reviews_no_dups.shape

(214804, 6)

# 5. Export final dataset

In [16]:
reviews_no_dups.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'reviews_clean.pkl'))